body {
    font-family: 'Arial', sans-serif;
    background-color: #230303;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

header {
    background-color: ;
    padding: 20px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
}

.fotos {
    display:column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
 p{
  color: #fff;
}

.fotos img {
    width: 90%;
    height: 410px;
    object-fit: cover;
    margin: 10px;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mensagens {
    width: 90%;
    background-color: #230303;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffff;
    margin-bottom: 20px;
}

.mensagens p {
    text-align: center;
    line-height: 1.6;
    font-size: 1;
    color: #ffffff;
}

footer {
    background-color: #000;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1rem;
    color: #fff;
}
